
INVENTORY_SLICER/NAMs_inventory_v20240723-A-L.xlsx
INVENTORY_SLICER/dupa.xlsx
INVENTORY_SLICER/dupa_old.xlsx
INVENTORY_SLICER/script.py
INVENTORY_SLICER/template.xlsx
INVENTORY_SLICER/to_remove.xlsx
INVENTORY_SLICER/~$dupa.xlsx
INVENTORY_SLICER/~$dupa_old.xlsx
INVENTORY_SLICER/.DS_Store
.DS_Store
INVENTORY_SLICER/dupa_old_new.xlsx
INVENTORY_SLICER/~$dupa_old_new.xlsx
*.xlsx
!NAMs_inventory_v20240723-A-L.xlsx
!NAMs_inventory_v20240723_M-Z.xlsx

CONCATE_EXCELS/to_remove.xlsx
ECHA_TEMPLATE_TASK/~$ECHA_NAM_DATA_TEMPLATE.xlsx
INVENTORY_SLICER/miniexcels.zip

ECHA_TEMPLATE_TASK/Output/CARC
INVENTORY_SLICER/__pycache__