
INVENTORY_SLICER/NAMs_inventory_v20240723-A-L.xlsx
INVENTORY_SLICER/dupa.xlsx
INVENTORY_SLICER/dupa_old.xlsx
INVENTORY_SLICER/script.py
INVENTORY_SLICER/template.xlsx
INVENTORY_SLICER/to_remove.xlsx
INVENTORY_SLICER/~$dupa.xlsx
INVENTORY_SLICER/~$dupa_old.xlsx
INVENTORY_SLICER/.DS_Store
.DS_Store